.pulse {
  position: absolute;
  top: 58px;
  left: 35px;
  z-index: 100;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: #21c65f; 
  cursor: pointer;
  box-shadow: 0 0 0 0 #166534; 
  animation: pulse-animation 3s infinite; 
}

@keyframes pulse-animation {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 255, 0, 0.4);
    opacity: 1;
  }
  50% {
    box-shadow: 0 0 0 10px rgba(0, 255, 0, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(0, 255, 0, 0);
  }
}

.pulse:hover {
  animation: none;
  background: #00FF00;
}